.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  padding-top: 20px;
}

.middle-section {
margin-right: 45%;
}

.netfilx-logo {
  height: 30px;
  margin-left:54px;
  margin-top: -2px;
}

.netfilx-logo:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.navigation-menu {
  align-items: center;
  display: flex;
  margin:0;
  padding:0;
}

.navigation-tab {
  margin-right: 20px;
  color: gainsboro;  
}

@media (max-width: 750px) {
  .navigation-tab {
    font-size: 10px;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .navigation-tab {
    font-size: 12px;
  }
}

@media (min-width: 1000px) {
  .navigation-tab {
    font-size: 14px;
  }
}

.navigation-tab:hover {
  color: gray;
  transition: opacity 0.15s;
  cursor: pointer;
}

.my-logo {
  height: 32px;
  margin-right: 20px;
  border-radius: 10px;
}

.my-logo:hover {
  opacity: 0.5;
  transition: opacity 0.15s;
  cursor: pointer;
  animation: round 1s ;
}

@keyframes round {
  
}

